@import "splidejs/splide/css";
body{
    margin: 0;
    padding: 0;
    width: fit-content;
    overflow-x: hidden; 

}

#first_topic {
    position: relative;
    top: 230px;
    left: 170px;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: -.04cm;
    color: #1e323f;
    font-family: IBM Plex Sans;
}
b{
    color: red;
}

#experience {
    position: relative;
    top: 270px;
    left: 180px;
    font-size: large;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.header{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    
}
li{
    display: inline; 
    margin-right:90px;
    position: relative;
    top:43px;
    
}

.Back {
    margin-left: 30px; 
    left: 30px;
    position: relative;
    top: -5px;
}


#pointer {
    position:absolute;
    float: right;
    top: -30px;
    width:60%;
    height: auto; 
    right:2px;

}

#company {
    position: absolute;
    top: -22px; 
    left: 80px;
    border: -1px solid;
    font-size: 16px;
    padding: 18px;
    width: 170px;
    border-radius: 10px;
    text-align: center;
    border-color: white;
    font-family: sans-serif;
    background-color: white;
    font-weight: 500;
    

}
#apply,#downApply{
    border: -1px solid;
    font-size: 20px;
    padding: 12px 30px;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    border-color: red;
    font-family: sans-serif;
    color: white;
    background-color:rgb(255, 46,46);
    font-weight: 500;

}
#apply{
    position: absolute;
    top: -18px;
    left:200px;
    width: 170px;

}
#downApply{
    position: relative;
    top: 600px;
    left: 170px;

}
#video{
    position: relative;
    top: 600px;
    left: 190px; 
    border: 1px solid;
    font-size: 20px;
    padding: 12px 24px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    border-color:red;
    font-family: sans-serif;
    color:darkgray;
    background-color:white;
    font-weight: 500;
   
}
#nativeWords{
    position: relative;
    top: 630px;
    left: 550px; 
    font-size:40px;
    font-weight: 700; 

}

  .first_slide{ 
    
   width: 28%;  
   padding: 10px; 
   margin-left: 30px;  
   border-radius: 10px;
   margin-top: 2px;
} 
.second_slide{
    width: 28%;  
    padding: 10px;
    border-radius: 10px; 
     
 }
 .third_slide,.fourth_slide{
    width: 28%; 
    padding: 10px; 
    border-radius: 10px;
     
 } 
 .forever_twitter{
    position: relative;
    text-align: center;
    top:25px;
    border-radius: 10px;
 }

.slideshow-container {
    position: relative;
    background-image: url(https://res.cloudinary.com/semicolon-website/image/upload/v1637762892/website/assets/hero-backgrounds/try_k0wo5g.svg);
     top: 630px;
    height:530px; 
    background-size: cover;
    background-position: unset;
    min-height: auto;
    width: fit-content;
    padding-right: 3rem;
    padding-left: 3rem;
    overflow: hidden;
    width: 100%;
    


  }
.prev,.next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transition: 0.6s ease;
}
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  .covered{
    position: relative;
    top:800px;
    text-align: center;
    font-size: larger;
    font-weight: 500;
    font-family: IBM Plex San;
  }
  .market_section{
    position: relative;
    vertical-align: auto;
    left: 200px
  }
  .line{
    position: relative;
    top:1px;
  }
  .logo_market{
    position: relative;
    top:-4px
  }
  .topic{
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: -.02em;
    color:#960c0c;
    margin-top: 20px;
  }
  .text{
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #1e323f;

  }
  .sections{
    display: flex;
    position: relative;
    top: 850px;
  }
  .real_world_experience{
    position: relative;
     left:300px;
    }
    .tution_payment{
        position: relative;
       left:330px;

    }
    .covered2{
    display: flex;
    position: relative;
    top: 900px;
    font-size: 40px;
    font-weight: 700;
    color: #1e323f;
        
    }
    .startUp{
        position: relative;
        left:430px;
    }
    .learn{
     position: relative;
       background-color: #DAEBFD;
       top:900px;
       height:105vh;
    }
    .image{
        position: relative;
      left:800px; 
      object-fit: cover;
      
    }
    .phrase{
        position: relative;
        font-size: 30px;
        font-weight: 600;
        margin: 80px;
        top:150px
    }
    .win{
        display: flex;
        margin-top: 1000px;
        font-weight: 700;
        font-size: 32px;
        letter-spacing: -.04em;
        color: #1e323f;
        line-height: 40px;
        align-items: center;
        justify-content: center;
    }
    .splide{
      display:grid; 
      grid-template-columns: auto auto auto;
      padding: 35px;
      overflow: hidden;
      width: 100%;
      margin-top: -45px;
     

    }
   #carouselExample{
    overflow: hidden;
    width: 100%;
   }

   
   .partners{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: -.04em; 
    color: #000;
    justify-content: center;

   }
   .normal{
    width: 12.716rem;
    height: auto;
    object-fit: contain;
    margin-top: 100px;
    
   }
   .Trusted{
    display: flex;
   }
   
   
  